In [1]:
# 查看westat版本号和安装路径
import westat
print('version:',westat.version)
print('path:',westat.__path__)

version: 0.2.1
path: ['C:\\Users\\Administrator\\Documents\\westat\\westat']

## 一、数据准备

In [2]:
from westat import *

# westat 自带了 GiveMeSomeCredit 和 UCI_Credit_Card 两个数据集，可使用 GiveMeSomeCredit() 或 credit_card() 导入相关数据
# data=GiveMeSomeCredit()
# data_train = data.train
# data_test = data.test

# data=credit_card()


data=credit_card()
data.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,target
0,1,20000.00,2,2,1,24,2,2,-1,-1,-2,-2,3913.00,3102.00,689.00,0.00,0.00,0.00,0.00,689.00,0.00,0.00,0.00,0.00,1
1,2,120000.00,2,2,2,26,-1,2,0,0,0,2,2682.00,1725.00,2682.00,3272.00,3455.00,3261.00,0.00,1000.00,1000.00,1000.00,0.00,2000.00,1
2,3,90000.00,2,2,2,34,0,0,0,0,0,0,29239.00,14027.00,13559.00,14331.00,14948.00,15549.00,1518.00,1500.00,1000.00,1000.00,1000.00,5000.00,0
3,4,50000.00,2,2,1,37,0,0,0,0,0,0,46990.00,48233.00,49291.00,28314.00,28959.00,29547.00,2000.00,2019.00,1200.00,1100.00,1069.00,1000.00,0
4,5,50000.00,1,2,1,57,-1,0,-1,0,0,0,8617.00,5670.00,35835.00,20940.00,19146.00,19131.00,2000.00,36681.00,10000.00,9000.00,689.00,679.00,0

In [3]:
# 将目标变量重命名为“y”
data.rename(columns={'target':'y'},inplace=True)
data.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,y
0,1,20000.00,2,2,1,24,2,2,-1,-1,-2,-2,3913.00,3102.00,689.00,0.00,0.00,0.00,0.00,689.00,0.00,0.00,0.00,0.00,1
1,2,120000.00,2,2,2,26,-1,2,0,0,0,2,2682.00,1725.00,2682.00,3272.00,3455.00,3261.00,0.00,1000.00,1000.00,1000.00,0.00,2000.00,1
2,3,90000.00,2,2,2,34,0,0,0,0,0,0,29239.00,14027.00,13559.00,14331.00,14948.00,15549.00,1518.00,1500.00,1000.00,1000.00,1000.00,5000.00,0
3,4,50000.00,2,2,1,37,0,0,0,0,0,0,46990.00,48233.00,49291.00,28314.00,28959.00,29547.00,2000.00,2019.00,1200.00,1100.00,1069.00,1000.00,0
4,5,50000.00,1,2,1,57,-1,0,-1,0,0,0,8617.00,5670.00,35835.00,20940.00,19146.00,19131.00,2000.00,36681.00,10000.00,9000.00,689.00,679.00,0

## 二、数据探索

In [ ]:
# 查看数据
proc_means(data,['LIMIT_BAL','AGE'])

In [ ]:
# 查看全部数据详情
data_desc(data)

In [ ]:
# 查看指定列的数据详情
data_desc(data[['AGE','PAY_0']])

In [ ]:
# 查看指定的统计结果
data_desc(data,key=['#Mean'])

In [ ]:
# 查看数据详细信息，指定缺失值和数据精度
data_desc(data,missing=[],precision=0)

In [ ]:
# 查看数据详细信息，显示更多描述性统计信息，并以中文显示标题
data_desc(data,key=['Type','#Sum','#Min','#Q1','#Median','#Q3','#Max','#Mode','#Var','#Std','#Mean','#Kurt','#Skew','#StdMean','#Range','#Cv','#Sum_of_squares','Top1','Top2','Top3'],language='cn')

In [ ]:
data_desc(data)

In [ ]:
# 创建一个包含特征英文名 Name ，特征中文名 Label的 DataFrame
## 设置列的数据字典，包含Name 和Label 两列，用于保存特征英文名称，特征中文名称
col_dict = pd.DataFrame(data={'Name':['LIMIT_BAL','AGE','PAY_0'],'Label':['授信余额','年龄','支付金额']})

#在数据描述中展示特征中文名
data_desc(data,col_dict)

## 查看数据分布

In [ ]:
# 查看目标变量的数据分布
value_counts(data)

In [ ]:
data['y'].value_counts()

In [ ]:
# 通过绘图查看指定变量的取值分布
plot_counts(data,'SEX')

In [ ]:
# 也可通过 value_counts 的别名函数 data_dist 或 get_data_distribution 查看数据分布
data_dist(data,col='MARRIAGE')

In [ ]:
# 也可通过value_counts 的别名函数 data_dist 或 get_data_distribution 查看数据分布
data_dist(data,col='MARRIAGE',language='en',precision=4,by=['#Count'],ascending =[True])

## 数据分区

In [ ]:
# 使用 data_split 函数进行数据分区，或者使用别名函数 get_data_partition，按随机测试集25%进行数据分区
data_train,data_test = data_split(data,0.25)

In [ ]:
# 查看数据分区后的训练集数据分布
value_counts(data_train)

In [ ]:
# 查看数据分区后的测试集数据分布
value_counts(data_test)

In [ ]:
#删除重复值
data_train.drop_duplicates(inplace=True)
value_counts(data_train)

## 特征分箱

### 先大致分箱并检查变量的badRate趋势

In [ ]:
# 等频分箱，计算WoE和IV，默认结果精度保留4位小数，通过 precision = 2 指定结果保留2位小数
woe_iv(data,col='AGE',qcut=5,precision=2)

In [ ]:
#使用默认的决策树方法进行分箱
woe_iv(data,col='AGE')

In [ ]:
#使用默认的决策树方法进行分箱，显示缺失值分组
woe_iv(data,col='AGE',show_missing =True)

In [ ]:
# 设置输出的分箱小数点位数
woe_iv(data,'AGE',precision=4)

In [ ]:
# 按照指定的切分点 分箱，并计算 WoE 和 IV
woe_iv(data,'AGE',bins=[-inf,20,30,40,50,inf])

In [ ]:
# 使用已经分箱后的数据计算woe和iv
age_bins = [-inf, 25, 40, 50, 60, 70, inf]
data['bin_age'] = pd.cut(data['AGE'],bins=age_bins).astype(str)

woe_iv(data,'bin_age',method='discrete')

In [ ]:
data.drop(columns=['bin_age'],inplace=True)

In [ ]:
# 使用决策树方法计算计算 WoE 和 IV
woe_iv(data,'PAY_0',method='tree')

In [ ]:
# 指定缺失值类型，并使用默认的决策树分箱方法进行分箱，计算WoE和IV, 
data['PAY_0'][0] = np.nan
data['PAY_0'][1] = -99999

woe_iv(data,col='PAY_0',missing = [-99999])

## 查看WoE 和 IV

In [ ]:
# 按照默认的决策树方法，计算WoE 和 IV，并查看WoE的分布
view_woe_iv(data,'AGE')

In [ ]:
# 按照默认的决策树方法，计算WoE 和 IV，并查看WoE的分布 , 设置显示的颜色为绿色
view_woe_iv(data,'AGE',color='green')

In [ ]:
# 按照默认的决策树方法，计算WoE 和 IV，并查看WoE的分布，设置显示的颜色
view_woe_iv(data,'AGE',color='#02B057')

In [ ]:
# 按照等频分箱，将特征分为5箱，计算WoE 和 IV，并查看WoE的分布
view_woe_iv(data,'AGE',qcut=5,precision=2)

## 计算WOE 并绘图

In [ ]:
# 根据默认参数，将特征分箱，计算WoE,并展示图形
plot_woe(data,'AGE')

In [ ]:
# 根据默认参数，将特征分箱，并计算WoE,并展示图形 和 数据
plot_woe(data,'AGE',return_data =True)

In [ ]:
# 根据指定切分点计算WoE,并展示图形
plot_woe(data,'AGE',bins=[-inf,30,40,50,inf])

In [ ]:
woe_iv(data,'AGE',bins=[-inf,30,40,50,inf])

In [ ]:
# 根据等频分箱，将特征分为5箱，并计算WoE,并展示图形
plot_woe(data,'AGE',qcut=5)

In [ ]:
# 根据默认的决策树方法分箱，并计算WoE,设置图形的颜色和样式，并展示图形
plot_woe(data,'AGE',color=['blue','orange','red','black'],linewidth=2,linestyle='--')

## 计算 IV 并绘图

In [ ]:
# 根据默认的决策树方法分箱，并计算IV，展示图形
plot_iv(data,'PAY_0')

In [ ]:
# 根据默认的决策树方法分箱，并计算IV，展示图形 和 数据
plot_iv(data,'PAY_0',return_data=True)

In [ ]:
# 根据决策树方法分箱，并计算IV，展示图形
plot_iv(data,'PAY_0',method='tree')

In [ ]:
# 根据等频分箱，将特征分为5箱，并计算IV,展示图形
plot_iv(data,'PAY_0',qcut=5)

In [ ]:
# 根据指定的切分点，将特征分箱，并计算IV,展示图形
plot_iv(data,'PAY_0',bins=[-inf,1,inf])

### 获取列的数据类型，离散型、连续型

In [ ]:
col_types = get_col_type(data)
col_types

## 决策树分箱

In [ ]:
# 根据决策树方法，获取特征的分箱切分点结果
tree_bins(data, 'AGE', max_leaf_nodes=4,min_samples_leaf=0.05)

## 批量决策树分箱

In [ ]:
data_bins = get_data_bins(data,max_leaf_nodes=4)
data_bins

## 手动调整分箱

In [ ]:
data_bins_adjust = update_bins(data_bins,
[
['AGE',[-inf,20,30,40,50,inf]],
['BILL_AMT1',[-inf,1000,8000,50000,inf]],
])
data_bins_adjust

## 数据离散化

In [ ]:
# 根据决策树分箱，并将数据离散化
data_discrete(data)

In [ ]:
# 按照调整后的分箱结果进行离散化
data_train_discrete = data_discrete(data_train,col_bin = data_bins_adjust)
data_train_discrete.head()

## WOE 转换

In [ ]:
# 使用已经离散化的数据，批量进行WoE转换
data_train_woe = woe_transform(data_train_discrete)
data_train_woe.head()

In [ ]:
## 指定 criterion='discrete'，使用已经离散化的列计算WoE和IV
woe_iv(data_train_discrete, 'AGE',method='discrete')

## 批量计算全部特征的IV

In [ ]:
# 使用默认的决策树分箱方法，批量计算数据集所有变量的IV
df_iv = data_iv(data_train)  
df_iv

## 根据离散化的数据，批量计算IV

In [ ]:
# 根据离散化的数据，批量计算IV
df_iv = data_iv(data_train_discrete,method='discrete',precision=4)  
df_iv

## 通过最小IV >= 0.02 和最大相关性 <=0.6 筛选特征

In [ ]:
# 通过最小IV >= 0.02 和最大相关性 <=0.6 筛选特征
# 只返回筛选后保留的特征
iv_corr(data_train,df_iv,min_iv = 0.02,max_corr=0.5)

## 通过最小IV >= 0.1 筛选特征

In [ ]:
iv_corr(data_train,df_iv,min_iv = 0.1,max_corr=1)

## 通过最小IV >= 0.02 和最大相关性 <=0.6 筛选特征，并返回删除的特征

In [ ]:
# 返回筛选后保留的特征、根据IV删除的特征、根据corr删除的特征、相关矩阵
col_keep,col_drop_by_iv,col_drop_by_corr,iv_corr_result = iv_corr(data_train,df_iv,min_iv = 0.02,max_corr=0.5,return_drop=True)
col_keep

In [ ]:
#根据IV删除的特征
col_drop_by_iv

In [ ]:
#根据corr删除的特征
col_drop_by_corr

In [ ]:
# IV 和相关性矩阵
iv_corr_result.head()

## 逐步回归筛选特征

In [ ]:
#逐步回归选择特征
col_result = stepwise_lr(data_train)
col_result

In [ ]:
#逐步回归选择特征，并显示逐步回归详情
col_result = stepwise_lr(data_train,verbose=True)
col_result

In [ ]:
import statsmodels.api as sm

y = data_train_woe['y']
x = data_train_woe[col_result]
x = sm.add_constant(x)

lr = sm.Logit(y, x).fit(disp=0)
lr.summary()

## 查看特征相关性图

In [ ]:
plot_corr(data_train[col_keep])

In [ ]:
# 相关性表，添加中文
plot_corr(data_train[col_keep],col_dict = col_dict)

In [ ]:
# 批量计算WoE，使用默认的决策树分箱方法
data_iv(data,precision=4)

In [ ]:
# 批量计算IV，等频分箱，分为5箱
data_iv(data,qcut=5)

In [ ]:
# 根据分箱后的数据，批量计算iv
data_iv(data_train_discrete)

## 评分卡开发

In [ ]:
# 按照默认参数，开发评分卡
# 默认基础分为600，PDO=50

# 输入训练集数据 和 调整后分箱，开发评分卡
scorecard = get_scorecard(data_train[col_keep + ['y']] ,data_bins_adjust)
scorecard

In [ ]:
# 设置数据精度，并返回逻辑回归模型的详细内容
scorecard,lr,a,b = get_scorecard(data_train[col_keep + ['y']] ,data_bins_adjust,precision=4,return_lr=True)
scorecard.to_excel('d:/scorecard.xlsx')

In [ ]:
# 查看逻辑回归模型的详细内容
lr.summary()

## 获取模型变量的IV表单

In [ ]:
#获取模型变量的IV表单
model_iv(data_train_discrete[col_keep+['y']])

## 检查VIF

In [ ]:
get_vif(data_train_woe,data_train_woe.columns,return_data=True)

In [ ]:
# 查看评分卡模型的参数
print('a:',a,'','b:',b)

## 预测模型分数

In [ ]:
# 预测训练集模型分数
data_train_score = get_predict_score(data_train,scorecard)
data_train_score

In [ ]:
# 预测测试集模型分数
data_test_score = get_predict_score(data_test,scorecard)
data_test_score

## 计算AUC 和 KS

In [ ]:
plot_roc_ks(data_train,scorecard)

## 根据 预测得分计算ks

In [ ]:
data_proba = get_predict_score(data_train,
                                       scorecard,
                                       init_score=600,
                                       pdo=50,
                                       odds=0,
                                       target='y',
                                       precision=2)


plot_ks(data_train,data_proba)

In [ ]:
# 计算auc 和 ks，并返回 ks 结果数据
plot_roc_ks(data_train,scorecard,return_data=True,precision=4)

## AUC 计算

In [ ]:
#根据训练集和评分卡计算auc
get_auc_by_card(data_train,scorecard)

In [ ]:
#根据训练集预测得分，计算auc
get_auc(data_train_score)

## KS 计算

In [ ]:
#根据训练集和评分卡计算ks
get_ks_by_card(data_train,scorecard)

In [ ]:
#根据训练集预测得分，计算ks
get_ks(data_train_score)

In [ ]:
#根据训练集预测得分，计算ks，并返回数据
ks,ks_data = get_ks(data_train_score,return_data=True)
ks_data

## 查看评分卡分数分布 和 提升度

In [ ]:
# 查看训练集评分卡分数分布 和 提升度
score_dist(data_train_score)

In [ ]:
# 查看训练集评分卡分数分布 和 提升度，分为5组，查看提升度
score_dist(data_train_score,qcut=5)

In [ ]:
# 查看训练集评分卡分数分布 和 提升度，分为5组，查看提升度
view_score_dist(data_train_score,qcut=5)

In [ ]:
# 查看训练集评分卡分数分布 和 提升度，分为5组，查看提升度
view_score_dist(data_train_score,qcut=5,color='green')

In [ ]:
# 查看训练集评分卡分数分布 和 提升度，分为5组，查看提升度
view_score_dist(data_train_score,qcut=5,color='#02B057')

In [ ]:
# 查看训练集评分卡分数分布 和 提升度,  标题显示为中文
score_dist(data_train_score,language='cn')

In [ ]:
# 绘制提升度图    
plot_lift(data_train_score)

In [ ]:
# 绘制提升度图，并输出提升度表格
plot_lift(data_train_score,return_data=True)

In [ ]:
# 查看训练集分数分布

import matplotlib.pyplot as plt
plt.style.use('default')
fig=plt.figure()
ax1=fig.add_subplot(1,1,1)
ax1.hist(data_train_score['Score'] )
plt.show()

## 模型稳定型 PSI计算

In [ ]:
data_train_score = get_predict_score(data_train,scorecard)
data_test_score = get_predict_score(data_test,scorecard)

# 按照等频分箱，分为10组，计算模型得分 Score 的PSI
get_psi(data_train_score,data_test_score)

In [ ]:
# 按照等频分箱，分为10组，计算模型得分 Score 的PSI
view_psi(data_train_score,data_test_score)

In [ ]:
# 按照等频分箱，分为10组，计算模型得分 Score 的PSI
view_psi(data_train_score,data_test_score,color='green')

In [ ]:
# 按照等频分箱，分为10组，计算模型得分 Score 的PSI
view_psi(data_train_score,data_test_score,color='#02B057')

In [ ]:
data_train_score = get_predict_score(data_train,scorecard)
data_test_score = get_predict_score(data_test,scorecard)

# 按照等频分箱，分为5组，计算PSI
get_psi(data_train_score,data_test_score,col='LIMIT_BAL',qcut=5,precision=4)

In [ ]:
data_train_score = get_predict_score(data_train,scorecard)
data_test_score = get_predict_score(data_test,scorecard)

# 按照指定的切分点，计算PSI
get_psi(data_train_score,data_test_score,col='LIMIT_BAL',bins=[-inf,30000,50000,100000,inf],precision=4)

In [ ]:
data_train_score = get_predict_score(data_train,scorecard)
data_test_score = get_predict_score(data_test,scorecard)

# 按照指定的切分点，计算PSI，标题显示为中文
get_psi(data_train_score,data_test_score,col='LIMIT_BAL',bins=[-inf,30000,50000,100000,inf],precision=4,language='cn')

In [ ]:
# 批量计算所有特征的PSI
data_train_score = get_predict_score(data_train,scorecard)
data_test_score = get_predict_score(data_test,scorecard)

get_data_psi(data_train_score,data_test_score,precision=4)

## 模型应用分析

### 决策树分析

In [ ]:
plot_tree(data_train_score[['Score','y']],max_depth=3,criterion='gini')

In [ ]:
# 绘制决策树，并保存图片到本地
plot_tree(data_train_score[['Score','y']],max_depth=3,criterion='gini',out_file='test.svg')

In [ ]:
# 绘制决策树，并保存图片到本地
plot_tree(data_train_score[['Score','y']],max_depth=3,criterion='gini',out_file='test.pdf')

In [ ]:
# 计算基尼不纯度,使用原始数据
gini_impurity([1,1,1,0])

In [ ]:
# 计算基尼不纯度,直接使用统计后数据进行计算
gini_impurity(c=[17564,4936])

## 金融函数

In [ ]:
# 等额本息，计算每月还款
debx(amount=500000,rate=0.043,period=240)

In [ ]:
# 等额本息，查看还款计划
a = debx(amount=500000,rate=0.043,period=240,return_data=True)
a['data']

In [ ]:
# 等额本金，查看还款计划
a = debj(amount=500000,rate=0.043,period=240,return_data=True)
a['data']

## 数学计算函数

In [ ]:
sin(1)

In [ ]:
cos(1)

## 日期计算函数

In [ ]:
year_start('2023-05-23')

In [ ]:
year_end('2023-05-23')

In [ ]:
month_start('2023-05-23')

In [ ]:
month_end('2023-04-23')

In [ ]:
add_months('2023-04-30',-2)

In [ ]:
# 计算日期差
date_diff('2023-05-01','2023-05-16')

In [ ]:
# 计算月份差
date_diff('2023-05-01','2023-05-16','m')

In [ ]:
# 计算年份差
date_diff('2022-05-01','2023-05-02','y')

In [ ]:
# 计算月份差
month_diff('2023-05-01','2023-05-16')

In [ ]:
# 计算月份差, 计算时日期按照1日进行计算，例如 '2023-05-15' 按 '2023-05-01'，'2023-06-16' 按'2023-06-01'进行计算 
month_diff('2023-05-15','2023-06-16',method='mm')

## 正则函数

In [ ]:
# 正则查找函数
regexp_like('2023','[a-z]+')

In [ ]:
# 正则替换函数
regexp_replace('2023westat2023','[0-9]+','')

## 其他统计函数

In [ ]:
# 获取指定值最大连续次数
get_max_continue([1,2,2,1,2,2,2,0],2)

In [ ]:
# 获取连续大于指定值的次数,例如：检查列表中连续大于1的次数
get_over_continue([1,2,2,1,2,3,4,0],1)

In [ ]:
# 获取大于指定值2，且相等的最大连续次数
get_over_continue([3,4,2,1,2,3,3,4,0],2,eq=True)

In [ ]:
# nvl函数，如果变量取值为空，则赋值为另一个值
a=None
nvl(a,5)