In [1]:
# View the westat version number and installation path
import westat
print('version:',westat.__version__)
print('path:',westat.__path__)

version: 0.1.10.1
path: ['C:\\Python\\Python311\\Lib\\site-packages\\westat']

## 一、Data preparation

In [2]:
from westat import *

data=credit_card()
data.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,target
0,1,20000.0,2,2,1,24,2,2,-1,-1,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,2,120000.0,2,2,2,26,-1,2,0,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,3,90000.0,2,2,2,34,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,4,50000.0,2,2,1,37,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,5,50000.0,1,2,1,57,-1,0,-1,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0

In [3]:
# Rename the target variable to 'y'
data.rename(columns={'target':'y'},inplace=True)
data.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,y
0,1,20000.0,2,2,1,24,2,2,-1,-1,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,2,120000.0,2,2,2,26,-1,2,0,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,3,90000.0,2,2,2,34,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,4,50000.0,2,2,1,37,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,5,50000.0,1,2,1,57,-1,0,-1,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0

## 二、Data exploration

In [4]:
# view data
proc_means(data,['LIMIT_BAL','AGE'])

    Variable      N       Mean    Std Dev  Minimum    Maximum
0  LIMIT_BAL  30000  167484.32  129747.66  10000.0  1000000.0
1        AGE  30000      35.49       9.22     21.0       79.0

In [ ]:
# View data details
get_data_desc(data).head(20)

In [ ]:
# View the specified statistics results
get_data_desc(data,key=['#Mean'])

In [ ]:
# View data details, specify missing values and data precision
get_data_desc(data,missing=[],precision=0)

In [ ]:
# View data details and display more descriptive statistics
get_data_desc(data,key=['#Sum','#Min','#Q1','#Median','#Q3','#Max','#Mode','#Var','#Std','#Mean','#Kurt','#Skew','#StdMean','#Range','#Cv','#Sum_of_squares','Top1','Top2','Top3'])

In [ ]:
# View data details
get_data_describe(data).head(20)

In [ ]:
# Create a DataFrame containing the English name of the feature and the feature description Label
# Set the data dictionary of the column, including the Name and Label columns, which are used to save the English name and description of the feature
col_dict = pd.DataFrame(data={'Name':['LIMIT_BAL','AGE','PAY_0'],'Label':['Credit balance','Customer age','Payment amount']})

# Show feature description in data description
get_data_describe(data,col_dict)

## View data distribution

In [ ]:
# View the data distribution of the target variable
get_data_dist(data)

In [ ]:
# Display the data distribution of the target variable according to the complete function name
get_data_distribution(data)

In [ ]:
get_data_distribution(data,col='SEX')

In [ ]:
get_data_dist(data,col='MARRIAGE')

In [ ]:
get_data_distribution(data,col='MARRIAGE',precision=2,by=['#Count'],ascending =[False])

## Data partitioning

In [ ]:
data_train,data_test = get_data_partition(data,0.25)
get_data_dist(data_train)

In [ ]:
#Remove duplicate values
data_train.drop_duplicates(inplace=True)
get_data_dist(data_train)

## Feature distribution

### First, roughly divide the boxes and test the badRate trend of variables

In [ ]:
# Equal frequency sub-box, calculate WoE and IV
get_woe_iv(data,col='AGE',qcut=5)

In [ ]:
# Use the default decision tree method to split boxes
get_woe_iv(data,col='AGE')

In [ ]:
# Use the default decision tree method to split boxes and display missing value grouping
get_woe_iv(data,col='AGE',show_missing =True)

In [ ]:
# Set the number of decimal points for output
get_woe_iv(data,'AGE',precision=4)

In [ ]:
# Divide the boxes according to the specified dividing point, and calculate WoE and IV
get_woe_iv(data,'AGE',bins=[-inf,20,30,40,50,inf])

In [ ]:
# Use decision tree method to calculate WoE and IV
get_woe_iv(data,'PAY_0',method='tree')

In [ ]:
# Specify the missing value type, and use the default decision tree box splitting method for box splitting, calculate WoE and IV
data['PAY_0'][0] = np.nan
data['PAY_0'][1] = -99999

get_woe_iv(data,col='PAY_0',missing = [-99999])

## View WoE and IV

In [ ]:
# Calculate WoE and IV according to the default decision tree method, and view the distribution of WoE
view_woe_iv(data,'AGE')

In [ ]:
# According to the default decision tree method, calculate WoE and IV, check the distribution of WoE, and set the displayed color to green
view_woe_iv(data,'AGE',color='green')

In [ ]:
# Calculate WoE and IV according to the default decision tree method, view the distribution of WoE, and set the displayed color
view_woe_iv(data,'AGE',color='#02B057')

In [ ]:
# Divide the characteristics into five boxes according to the equal frequency sub-box, calculate WoE and IV, and check the distribution of WoE
view_woe_iv(data,'AGE',qcut=5,precision=2)

## Calculate WOE and plot

In [ ]:
# According to the default parameters, divide the features into boxes, calculate WoE, and display the graphics
plot_woe(data,'AGE')

In [ ]:
# According to the default parameters, divide the feature into boxes, calculate WoE, and display graphics and data
plot_woe(data,'AGE',return_data =True)

In [ ]:
# Calculate WoE according to the specified dividing point and display the graph
plot_woe(data,'AGE',bins=[-inf,30,40,50,inf])

In [ ]:
get_woe_iv(data,'AGE',bins=[-inf,30,40,50,inf])

In [ ]:
# According to the equal frequency sub-box, divide the feature into five boxes, calculate WoE, and display the graph
plot_woe(data,'AGE',qcut=5)

In [ ]:
# Divide boxes according to the default decision tree method, calculate WoE, set the color and style of graphics, and display graphics
plot_woe(data,'AGE',color=['blue','orange','red','black'],linewidth=2,linestyle='--')

## Calculate IV and draw

In [ ]:
# Divide boxes according to the default decision tree method, calculate IV, and display graphics
plot_iv(data,'PAY_0')

In [ ]:
# Divide boxes according to the default decision tree method, calculate IV, and display graphics and data
plot_iv(data,'PAY_0',return_data=True)

In [ ]:
# Divide the boxes according to the decision tree method, calculate IV, and display graphics
plot_iv(data,'PAY_0',method='tree')

In [ ]:
# According to the equal frequency sub-box, divide the feature into five boxes, calculate IV, and display the figure
plot_iv(data,'PAY_0',qcut=5)

In [ ]:
# According to the specified dividing point, divide the feature into boxes, calculate IV, and display the figure
plot_iv(data,'PAY_0',bins=[-inf,1,inf])

### Get the data type of the column, discrete and continuous

In [ ]:
col_types = get_col_type(data)
col_types

## Decision-tree splitting

In [ ]:
# According to the decision tree method, obtain the result of feature segmentation points
get_tree_bins(data, 'AGE', max_leaf_nodes=4,min_samples_leaf=0.05)

## Batch decision tree splitting

In [ ]:
data_bins = get_data_bins(data,max_leaf_nodes=4)
data_bins

## Manually adjust the distribution box

In [ ]:
data_bins_adjust = set_update_bins(data_bins,
[
['AGE',[-inf,20,30,40,50,inf]],
['BILL_AMT1',[-inf,1000,8000,50000,inf]],
])
data_bins_adjust

## Data Discretization

In [ ]:
# Divide the boxes according to the decision tree and discretize the data
get_data_discrete(data)

In [ ]:
# 按照调整后的分箱结果进行离散化
data_train_discrete = get_data_discrete(data_train,col_bin = data_bins_adjust)
data_train_discrete.head()

## WOE conversion

In [ ]:
# Use the discretized data to perform WoE conversion in batches
data_train_woe = get_woe_transform(data_train_discrete)
data_train_woe.head()

In [ ]:
## Specify method='discrete 'to calculate WoE and IV using the discretized column
get_woe_iv(data_train_discrete, 'AGE',method='discrete')

## Batch calculate IV of all features

In [ ]:
# Use the default decision tree box splitting method to batch calculate the IV of all variables in the dataset
data_iv = get_data_iv(data_train)  
data_iv

## Calculate IV in batches based on discrete data

In [ ]:
# Calculate IV in batches based on discrete data
data_iv = get_data_iv(data_train_discrete,method='discrete')  
data_iv

## Filter features through minimum IV>=0.02 and maximum correlation<=0.6

In [ ]:
# Filter features through minimum IV>=0.02 and maximum correlation<=0.6
# Only return the features that need to be retained
get_feature_by_ivcorr(data_train,col_iv=data_iv,keep=[],drop=[],min_iv = 0.02,max_corr=0.5,return_drop=False)

In [ ]:
# Filter features through minimum IV>=0.02 and maximum correlation<=0.6
# Return the features retained after filtering, features deleted according to IV, features deleted according to corr, and correlation matrix
col_keep,col_drop_by_iv,col_drop_by_corr,iv_corr_result = get_feature_by_ivcorr(data_train,col_iv=data_iv,keep=[],drop=[],min_iv = 0.02,max_corr=0.5,target='target',return_drop=True)
col_keep

In [ ]:
# Features deleted according to IV
col_drop_by_iv

In [ ]:
# Features deleted according to corr
col_drop_by_corr

In [ ]:
# IV and correlation matrix
iv_corr_result.head()

## View feature correlation graph

In [ ]:
plot_corr(data_train[col_keep])

In [ ]:
# Batch calculation of WoE, using the default decision tree box splitting method
get_data_woe(data)

In [ ]:
# Batch calculation IV, equal frequency sub-box, divided into 5 boxes
get_data_iv(data,qcut=5)

## Get the IV list of model variables

In [ ]:
# Get the IV list of model variables
get_model_iv(data_train_discrete[col_keep+['y']],data_iv,col_bins=data_bins_adjust,col_dict=col_dict,col_types=col_types)

## Scorecard development

In [ ]:
# Develop scoring cards according to default parameters
get_scorecard(data_train[col_keep + ['y']] ,data_bins_adjust)

In [ ]:
# Set the data precision and return the details of the logical regression model
scorecard,lr,a,b = get_scorecard(data_train[col_keep + ['y']] ,data_bins_adjust,precision=4,return_lr=True)
scorecard

In [ ]:
# View the details of the logical regression model
lr.summary()

## Check VIF

In [ ]:
get_vif(data_train_woe,data_train_woe.columns,return_data=True)

In [ ]:
# View the parameters of the scorecard model
print('a:',a,'','b:',b)

## Predict model score

In [ ]:
#  Predict training set model score
data_train_score = get_predict_score(data_train,scorecard)
data_train_score

In [ ]:
# Predict test set model score
data_test_score = get_predict_score(data_test,scorecard)
data_test_score

## Calculate AUC and KS

In [ ]:
plot_roc_ks(data_train,scorecard)

In [ ]:
# Calculate auc and ks and return ks result data
plot_roc_ks(data_train,scorecard,return_data=True,precision=4)

## AUC calculation

In [ ]:
# Calculate auc according to training set and scoring card
get_auc_by_card(data_train,scorecard)

In [ ]:
# Calculate auc according to the prediction results
get_auc(data_predict_score)

In [ ]:
# According to the prediction results, calculate auc and return data
get_auc(data_train_score,return_data=True)

## KS calculation

In [ ]:
# Calculate ks according to training set and scoring card
get_ks_by_card(data_train,scorecard)

In [ ]:
# Calculate ks according to the prediction results
get_ks(data_predict_score)

In [ ]:
# Calculate ks and return data according to the prediction results
get_ks(data_train_score,return_data=True)

In [ ]:
# Calculate ks and return data according to the prediction results
ks,ks_data = get_ks(data_train_score,return_data=True)
ks_data

## View scorecard score distribution and improvement

In [ ]:
# View scorecard score distribution and improvement
get_score_dist(data_train_score)

In [ ]:
# View the score distribution and improvement degree of the scorecard, divide it into 5 groups, and view the improvement degree
get_score_dist(data_train_score,qcut=5)

In [ ]:
# View the score distribution and improvement degree of the scorecard, divide it into 5 groups, and view the improvement degree
view_score_dist(data_train_score,qcut=5)

In [ ]:
# View the score distribution and improvement degree of the scorecard, divide it into 5 groups, and view the improvement degree
view_score_dist(data_train_score,qcut=5,color='green')

In [ ]:
#View the score distribution and improvement degree of the scorecard, divide it into 5 groups, and view the improvement degree
view_score_dist(data_train_score,qcut=5,color='#02B057')

In [ ]:
# View scorecard score distribution and improvement
get_score_dist(data_train_score)

In [ ]:
# Draw lifting degree diagram
plot_lift(data_train_score)

In [ ]:
# Draw lifting degree diagram and output lifting degree table
plot_lift(data_train_score,return_data=True)

In [ ]:
# Scorecard score distribution
import matplotlib.pyplot as plt
plt.style.use('default')
fig=plt.figure()
ax1=fig.add_subplot(1,1,1)
ax1.hist(data_train_score['Score'] )
plt.show()

## Model stability PSI calculation

In [ ]:
data_train_score = get_predict_score(data_train,scorecard)
data_test_score = get_predict_score(data_test,scorecard)

# Divide into 10 groups according to the equal frequency sub-box, and calculate the PSI of the model score
get_psi(data_train_score,data_test_score)

In [ ]:
# Divide into 10 groups according to the equal frequency sub-box, and calculate the PSI of the model score
view_psi(data_train_score,data_test_score)

In [ ]:
# Divide into 10 groups according to the equal frequency sub-box, and calculate the PSI of the model score
view_psi(data_train_score,data_test_score,color='#02B057')

In [ ]:
data_train_score = get_predict_score(data_train,scorecard)
data_test_score = get_predict_score(data_test,scorecard)

# Divide into 5 groups according to the equal frequency sub-box, and calculate the PSI
get_psi(data_train_score,data_test_score,col='LIMIT_BAL',qcut=5,precision=4)

In [ ]:
data_train_score = get_predict_score(data_train,scorecard)
data_test_score = get_predict_score(data_test,scorecard)

# Calculate PSI according to the specified cut point
get_psi(data_train_score,data_test_score,col='LIMIT_BAL',bins=[-inf,30000,50000,100000,inf],precision=4)

In [ ]:
# Batch calculate PSI of all features
data_train_score = get_predict_score(data_train,scorecard)
data_test_score = get_predict_score(data_test,scorecard)

get_data_psi(data_train_score,data_test_score,precision=4)