# 量化分析

## 根据证券代码批量获取股票简要信息

In [1]:
# 导入westat
import westat as we

In [2]:
# 查看上证指数
we.get_stock()

  交易所  证券简称    证券代码       现价   涨跌额  涨跌幅        成交量       成交额       总市值
0   1  上证指数  000001  3189.44 38.82 1.23  287604327  35448781 560742.73

In [3]:
# 查看指定股票基本数据
we.get_stock('600999')

  交易所  证券简称    证券代码     现价  涨跌额  涨跌幅    成交量    成交额     总市值
0   1  招商证券  600999  13.35 0.12 0.91  89163  11903 1160.99

In [4]:
# 批量查看指定股票基本数据
we.get_stock(['600999','300624'])

  交易所  证券简称    证券代码      现价   涨跌额   涨跌幅    成交量     成交额     总市值
0   1  招商证券  600999   13.35  0.12  0.91  89163   11903 1160.99
1  51  万兴科技  300624  128.00 -2.00 -1.54  94759  121893  176.26

## 根据证券代码获取股票分钟数据

In [5]:
# 查看上证指数
we.get_stock_m()

       时间      价格        成交量             成交额
0     930 3153.31    1799394   1974082916.90
1     931 3153.17    9044428  10460929060.30
2     932 3154.28   13304577  16016563157.60
3     933 3155.72   17095141  20713802079.60
4     934 3153.63   20515931  25029843233.60
..    ...     ...        ...             ...
237  1456 3190.16  281379753 347281468224.10
238  1457 3189.74  283537273 349790762276.80
239  1458 3190.27  283686483 349959459183.30
240  1459 3190.27  283686483 349959459183.30
241  1500 3189.44  287604327 354487810600.40

[242 rows x 4 columns]

In [6]:
# 查看指定股票分钟数据
we.get_stock_m('600999')

       时间    价格    成交量          成交额
0     930 13.28    215    285520.00
1     931 13.33   2747   3659552.00
2     932 13.32   3665   4882960.00
3     933 13.33   4898   6526118.00
4     934 13.33   5944   7918930.00
..    ...   ...    ...          ...
237  1456 13.38  85213 113750729.44
238  1457 13.38  87732 117117437.45
239  1458 13.38  87733 117118775.45
240  1459 13.38  87733 117118775.45
241  1500 13.35  89163 119027825.45

[242 rows x 4 columns]

In [ ]:
# 查看上证指数
we.get_stock_pk('600999')